<%= link_to project do %>

    <h2><%= project.name %></h2>

    <p>
        <% if project.state == 0 %>
            Executing
        <% end %>
        <% if project.state == 1 %>
            Archived
        <% end %>
        <% if project.state == 2 %>
            Finish
        <% end %>
    </p>
<% end %>
<div class="bar_buttons">
    <%= link_to edit_project_path(project), :class => "link_bar left_border_radious edit_color" do %>
        Edit
    <% end %>
    <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link_bar right_border_radious delete_color" do %>
        Delete
    <% end  %>
</div>
