<div class="content">
    <h1>Editing Project</h1>

    <div class="button_bar_content">
        <%= link_to 'Back', projects_path, :class => "link_bar back_color" %>
        <%= link_to 'Show', @project, :class => "link_bar show_color" %>
    </div>

    <%= render 'form', project: @project %>
</div>
