body {
    background-image: url(/assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 1;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

pre {
  //background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid #46814a;

  &:visited {
      color: #000;
  }

  &:hover {
      color: #FFF;
      background-color: #403f39;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  //background-color: red;
  display: table;
}

#error_explanation {
  width: 100%;
  border: 2px solid #2c041d;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #864f60;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px 5px 15px;
    font-size: 16px;
    margin: -7px -7px 0;
    color: #fff;
    margin-top: 1em;
  }

  ul li {
    font-size: 14px;
    list-style: square;
    color: a9a9a9;
  }
}

label {
  display: block;
}


//Forms

.field_with_errors {
    width: 100%;
    box-sizing: border-box;

    label {
        color: red;
    }

    input {
        border-bottom: 2px solid #2c041d;
        border-left: 2px solid #2c041d;
        border-right: 2px solid #2c041d;
    }
}

input, select, textarea {
    width: 100%;
    margin-top: 0.5em;
    border-radius: 5px;
    background-color: #bec3a4;
    color: #000;
    border: none;
    border-bottom: 2px solid #333;
    padding: 12px 20px;
    box-sizing: border-box;
}

input[type=submit] {
    border-right: 2px solid #333;

    &:hover {
        background-color: #46814a;
    }
}

select {
    height: 50px;
}

textarea {
    height: 200px;
}

.date_inline {
    display: flex;

    select:nth-child(2n) {
        margin-left: 1em;
        margin-right: 1em;
    }
}
